# APP ENV
APP_ENV=development

# Database Configuration
DATABASE_URL=postgresql+asyncpg://<username>:<password>@<host>:<port>/<dbname>?ssl=require

# gRPC Service Configuration
AUTH_SERVICE_ADDR=localhost:50051
CHATAI_SERVICE_ADDR=localhost:50052
WORKERS_SERVICE_ADDR=localhost:50053

# API Gateway Configuration
GATEWAY_PORT=8000
REDIS_URL=redis://localhost:6379/0

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=no-reply@yourdomain.com
SMTP_PASSWORD=your-smtp-password-or-app-pass
MAIL_FROM=no-reply@sahayak.com
FRONTEND_URL=http://localhost:3000
BACKEND_URL=https://api.yourdomain.com

JWT_SECRET=your-jwt-secret-key-at-least-32-chars
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

# Connectors environments
INSTAGRAM_APP_ID=your-instagram-app-id
INSTAGRAM_APP_SECRET=your-instagram-app-secret
INSTAGRAM_REDIRECT_URI=https://api.yourdomain.com/connectors/oauth/callback/instagram
INSTAGRAM_WEBHOOK_TOKEN=your-webhook-verification-token

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
AWS_REGION=ap-south-1

# MongoDB Configuration
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>/?retryWrites=true
MONGODB_DB_NAME=sahayak_ai

# LLM / NVIDIA NIM API Configuration
NVIDIA_API_KEY=your-nvidia-nim-api-key

# Pinecone API Configuration
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX_HOST=https://sahayak-ai-yourindex.svc.pinecone.io

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

# Instagram Access Token
INSTAGRAM_ACCESS_TOKEN=your-instagram-long-lived-access-token

# Langsmith Tracing
LANGSMITH_TRACING=False
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_PROJECT=Sahayak.ai
